<launch>
<!-- 
<arg name="node_start_delay" default="5.0" />  
<node name="listener" pkg="roscpp_tutorials" type="listener" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " /> -->
    <!-- Load the RGBD camera -->
    <include
      file="$(find realsense2_custom_description)/launch/d435_camera_model.launch"
      required="true"
    >

      <arg
        name="spawn_args"
        value="-x -0.25 -y 0.65 -z 1.66 -R 0.2 -P 0.75 -Y -0.5"
      />
      <arg
        name="parent_link"
        value="link_8"
      />
    </include>    

</launch>
