<launch>
  <arg name="rviz" default="true" />
  <arg name="spawn_args" default="-x 0 -y 0 -z 1.00" />

<!-- https://github.com/ivaROS/ivaHandy/blob/master/ros/finalarm_gazebo/launch/robot_world.launch -->
  <include file="$(find finalarm_gazebo)/launch/robot_world.launch" required="true">
    <arg name="spawn_args" value="$(arg spawn_args)" />
  </include>

  <include file="$(find finalarm_moveit_config)/launch/move_group.launch"  />

  <!-- Load a table into the scene, rotated 90 degrees and offset from center -->
  <param
    name="table_description"
    textfile="$(find handy_environment)/models/table/model.sdf"
  />
  <node
    name="model_spawner"
    pkg="gazebo_ros"
    type="spawn_model"
    respawn="false"
    output="screen"
    args="
      -sdf
      -param table_description
      -model table
      -unpause
      -x 0.5
      -Y 1.57
    "
  />



  <!-- load rviz -->
  <include
    file="$(find handy_environment)/launch/rviz.launch"
    if="$(arg rviz)"
  />
</launch>
